@page
@model BeautySalonSystem.UI.Pages.Admin.Offers.AdminOffersIndex

@{
  ViewData["Title"] = "Admin Offers Index";
}

<header class="masthead-admin bg-primary text-white text-center">
  <div class="masthead-admin-container d-flex align-items-center flex-column">
    <h1 class="masthead-heading text-uppercase mb-0 text-white">Оферти</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-leaf"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0"></p>
  </div>
</header>

<div class="container align-content-center admin-products-actions">
  <a class="btn btn-default" href="@Url.Page("/Admin/Index")"><i class="fas fa-chevron-left"></i> Обратно</a>
  <a class="btn btn-success" href="@Url.Page("/Admin/Offers/Create")"><i class="fas fa-plus"></i> Добави</a>
</div>

@if (Model.AllOffers == null)
{
  <h5 class="text-center">Не съществуват оферти.</h5>
}
else
{
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Име</th>
      <th scope="col">Цена</th>
      <th scope="col">Отстъпка</th>
      <th scope="col">Активна</th>
      <th scope="col">Включени услуги</th>
      <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var offer in Model.AllOffers)
    {
      <tr>
        <th scope="row">@offer.Id</th>
        <td>@offer.Name</td>
        <td>@offer.TotalPrice</td>
        <td>@offer.Discount</td>
        <td>@if (offer.IsActive)
            {
              <span>Активна</span>
            }
            else
            {
              <span>Неактивна</span>
            }
        <td>
          @foreach (var product in @offer.Products)
          {
            <span>@product.Name;</span>
          }
        </td>
        <td class="admin-products-actions d-flex">
          <form class="admin-products-actions-item" asp-page-handler="DeleteOffer" method="post">
            <input name="id" type="hidden" value="@offer.Id"/>
            <button class="btn btn-danger">Изтрий</button>
          </form>
          @if (!offer.IsActive)
          {
            <a class="btn btn-warning text-white admin-products-actions-item" 
               asp-page="@Url.Page("/Admin/Offers/Edit")" 
               asp-route-id="@offer.Id">Редактирай</a>
                                       
            <form class="admin-products-actions-item" asp-page-handler="ActivateOffer" method="post">
              <input name="id" type="hidden" value="@offer.Id"/>
              <button class="btn btn-success">Активирай</button>
            </form>
          }
        </td>
      </tr>
    }
        
    </tbody>
  </table>
}
