@page
@model BeautySalonSystem.UI.Pages.Admin.Appointments.Index

@{
  ViewData["Title"] = "Admin Appointments Index";
}

<header class="masthead-admin bg-primary text-white text-center">
  <div class="masthead-admin-container d-flex align-items-center flex-column">
    <h1 class="masthead-heading text-uppercase mb-0 text-white">Оферти</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-leaf"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0"></p>
  </div>
</header>

<div class="container align-content-center admin-products-actions">
  <a class="btn btn-default" href="@Url.Page("/Admin/Index")"><i class="fas fa-chevron-left"></i> Обратно</a>
  <a class="btn btn-success" href="@Url.Page("/Admin/Offers/Create")"><i class="fas fa-plus"></i> Добави</a>
</div>

@if (Model.AppointmentRequests == null)
{
  <h5 class="text-center">В момента няма неодобрени заявки за часове.</h5>
}
else
{
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Подадено на</th>
      <th scope="col">Потребител</th>
      <th scope="col">Имена</th>
      <th scope="col">Имейл</th>
      <th scope="col">Оферта</th>
      <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var appointmentRequest in Model.AppointmentRequests)
    {
      <tr>
        <th scope="row">@appointmentRequest.Id</th>
        <td>@appointmentRequest.DateRequested</td>
        <td>@appointmentRequest.UserInfo.UserName</td>
        <td>@appointmentRequest.UserInfo.FullName</td>
        <td>@appointmentRequest.UserInfo.Email</td>
        <td>@appointmentRequest.offer.Name</td>
        <td class="admin-products-actions d-flex">
          <form class="admin-products-actions-item" asp-page-handler="ConfirmAppointmentRequest" method="post">
            <input name="id" type="hidden" value="@appointmentRequest.Id"/>
            <button class="btn btn-success">Одобри</button>
          </form>
        </td>
      </tr>
    }
    </tbody>
  </table>
}